# Everything in .gitignore
node_modules/
.expo/
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env
.env*.local
.env.production
.env.development
*.tsbuildinfo
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
.idea
.gradle
local.properties
*.iml
*.hprof
*.jsbundle
/ios/Pods/
.eas/
expo-env.d.ts
.vercel
*.bak
.revyl/
AUDIO_PLUGIN_NEEDED.md
.bible-cache/
unfold-bible-v1.db

# Claude Code agent files
.claude/

# Sentry cache files
*.sentry/
